@charset "UTF-8";
.practica{
	background-color: blue;
	color: yellow;
	text-align: center;
	font-family:PottaOne;
	src:url(fuentes/PottaOne-Regular.ttf);
}
.bloque{
	width: 400px;
	height: 150px;
	box-sizing:content-box;
	display: inline-block;
	background-color:blue;
	color:white;
}
.p{
	background-color: black;
	color: yellow;
	line-height: 120%;
	width: 600px;
	display:inline-block;
	position: relative;
	bottom:30px;
	
}
.hr1{
	width: 600px;
}
.p2{
	font-size: 150%;
	font-family: 'Coda Caption', sans-serif;
}
.hr2{
	background-color:blue;
	height: 30px;
}
.hr3{
	background-color:blue;
	height: 30px;
}
.p3{
	font-family: YuseiMagic;
	src:url(fuentes/YuseiMagic-Regular.ttf);
}